= haml :"home/about"
= haml :"home/alnylam"
= haml :"home/rgg"
= haml :"home/grubhub"
= haml :"home/levelup"
= haml :"home/amalgam"
= haml :"home/launch"
= haml :"home/photography"
= haml :"home/contact"
